<h1>VIDEO PAGE</h1>
<!-- *Begin Video Selector -->
     <div class="grid-container">

      <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1>Videos</h1>
          </div>
      </div>


  <div class="grid-x grid-padding-x">
   <div class="large-12 cell">
    <div class="callout">


  <section class="filter-simple">
    <div class="button-group round">
      <button class="button hollow filter-simple-button is-active" data-filter="all">All</button>
      <button class="button hollow filter-simple-button" data-filter="space">Space</button>
      <button class="button hollow filter-simple-button" data-filter="dan-workshop">Dan's Workshops</button>
      <button class="button hollow filter-simple-button" data-filter="dan-angularjs">Dan/AngularJS</button>
      <button class="button hollow filter-simple-button" data-filter="ET-710">ET-710</button>
      <button class="button hollow filter-simple-button" data-filter="ET-718">ET-718</button>
    </div>






      <div class="grid-x grid-padding-x">
        <!-- ET-710 Video-->
         <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
          <div class="card" style="width: 235px;">
          <div class="card-divider">
              <strong>DataTables</strong>
            </div>
              <div class="responsive-embed">
                <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                  <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/et710-20171106.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
            <div class="card-section">
              <h4>ET-710</h4>
              <p>Adding DataTables</p>
            </div>
        </div>
       </div>
